main {
  font-family: Roboto, sans-serif;
}

p,
ul {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto !important;
}

detailviewimage {
  display: block;
}

div[data-testid='content'] {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  div[data-testid='content'] {
    max-width: 70%;
  }
}

name {
  font-size: 30px;
  margin-bottom: 8px;
}

phone {
  margin-top: 8px;
}

centercolumndetails {
  margin-top: 24px;
  margin-bottom: -8px;
}

rightcolumndetails {
  margin-top: 24px;
}

heading {
  font-size: 22px;
  font-weight: 400;
}

li h6 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: -12px;
}

listviewimage,
detailstype,
rightcolumnblogs,
br {
  display: none;
}

name,
phone,
email,
cvlink,
videoembed,
centercolumndetails,
rightcolumndetails {
  display: block;
}

cvlink a {
  text-decoration: none;
  color: hsla(47, 39%, 34%, 1);
}
