main {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h3 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p,
ul {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto !important;
}

a {
  text-decoration: none;
  color: hsla(47, 39%, 34%, 1);
}
