main {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p,
ul {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto !important;
}

div[data-testid='content'] {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  div[data-testid='content'] {
    max-width: 70%;
  }
}
