main {
  font-family: Roboto, sans-serif;
}

p,
ul {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

div.content-container {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  div.content-container {
    max-width: 70%;
  }
}

root {
  display: none;
}

centercolumndetails {
  margin-top: 24px;
  margin-bottom: -8px;
}

rightcolumndetails {
  margin-top: 24px;
}

heading {
  font-size: 22px;
  font-weight: 400;
}

li h6 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: -12px;
}

listviewimage,
detailstype,
rightcolumnblogs,
br {
  display: none;
}

name,
phone,
email,
cvlink,
videoembed,
centercolumndetails,
rightcolumndetails {
  display: block;
}
